<!DOCTYPE HTML >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>统一搜索平台</title>
    <link href="css/appService/unitSearch/style.css" th:src="@{/css/appService/unitSearch/style.css}" rel="stylesheet"/>
    <script type="text/javascript" src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
    <script src="js/tagcloud.js" th:src="@{/js/tagcloud.js}"></script>
</head>
<body>
<div class="header">
    <a href="index" class="back"><span></span>返回</a>
    <p class="timer">2018 年 8 月 20 日 &nbsp;&nbsp;&nbsp; 星期一 &nbsp;&nbsp;&nbsp; 15:51</p>
</div>
<div class="content">
    <div class="content_top">
        <div class="top_left">
            <p class="module_title">搜索关键字排行</p>
            <ul class="hot_list">
                <li><span>排名</span> <i style="position: relative;left: -20px;">搜索热词</i> <b>搜索量</b></li>
                <!-- <li class="list1"><span>1</span> <i>省公共资源交易平台中心</i> <b>9013</b></li>
                <li class="list2"><span>2</span> <i>省煤炭工业局官网</i> <b>2890</b></li>
                <li class="list3"><span>3</span> <i>科技厅官网</i> <b>1780</b></li>
                <li class="list4"><span>4</span> <i>扶贫网</i> <b>1672</b></li>
                <li class="list5"><span>5</span> <i>省国防科工办平台</i> <b>565</b></li>
                <li class="list5"><span>5</span> <i>省国防科工办平台</i> <b>565</b></li>
                <li class="list5"><span>5</span> <i>省国防科工办平台</i> <b>565</b></li> -->
            </ul>
        </div>
        <div class="top_middle">
					<span class="active_num num">
						123
					</span>
            <span class="active_user name">
						当日搜索次数
					</span>
            <span class="register_num num">
						604501
					</span>
            <span class="register_user name">
						累计索引量
					</span>
            <span class="sum_search_num num">
						52120
					</span>
            <span class="sum_search name">
						累计搜索次数
					</span>
            <span class="day_search_num num">
						2448
					</span>
            <span class="day_search name">
						当日活跃用户
					</span>

        </div>
        <div class="top_right">
            <p class="module_title" style="margin-top: 11px;">搜索词云图</p>
            <div class="tag_cloud">
                <!-- <a href="#">文献综述</a>
                  <a href="#">对外投资</a>
                <a href="#">机器人</a>
                <a href="#">区块链</a>
                <a href="#">科技创新</a>
                <a href="#">计算机科学</a>
                <a href="#">自动驾驶</a>
                <a href="#">研究价值</a>
                <a href="#">模式识别</a>
                <a href="#">自然语言处理</a> -->
            </div>
        </div>
    </div>
    <div class="content_bottom">
        <div class="bottom_left">
            <p class="module_title" style="padding-left: 35px;margin-top: 12px;">近期搜索次数</p>
            <div id="user_login">

            </div>
        </div>
        <div class="bottom_middle">
            <p class="module_title" style="margin-top: 12px;">近期索引增量</p>
            <div id="index_position">

            </div>
        </div>
        <div class="bottom_right">
            <p class="module_title" style="margin-top: 12px;">近期智能问答</p>
            <div id="ask_pos">

            </div>
        </div>
    </div>
</div>
</body>



<script th:inline="javascript">
var queryByDayLog = [[${queryByDayLog}]];
queryByDayLog = eval('('+queryByDayLog + ')');
var queryByHotword =[[${queryByHotword}]];
queryByHotword = eval('('+queryByHotword + ')');
console.log(queryByDayLog);
console.log(queryByHotword);
</script>
<script src="js/appService/unitSearch/index.js" th:src="@{/js/appService/unitSearch/index.js}"></script>
<script type="text/javascript">
    (function () {
        //重置屏幕宽高，根据宽高设置比例
        var pingmu_height = $(window).height();
        var pingmu_width = $(window).width();
        var a, b;
        if (pingmu_width >= 3840) {
            a = (pingmu_height / 2160).toFixed(8);
            b = (pingmu_width / 3840).toFixed(8);

        } else {
            a = (pingmu_height / 1080).toFixed(8);
            b = (pingmu_width / 1920).toFixed(8);
        }
        $("body").css("transform", "scale(" + b + "," + a + ")");
    })();
    window.addEventListener('resize', function () {
        //重置屏幕宽高，根据宽高设置比例
        var pingmu_height = $(window).height();
        var pingmu_width = $(window).width();
        var a = (pingmu_height / 1080).toFixed(8);
        var b = (pingmu_width / 1920).toFixed(8);
        $("body").css("transform", "scale(" + b + "," + a + ")");
    });

</script>
</html>

